<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
 <%= markdown(@post.body) %>
</p>
On: <%=@post.created_at.strftime('%d %b %Y') %>
<p>
  <strong>User:</strong>
by:  <%= link_to @post.user.email,@post.user %>
</p>

<br/>
<%= link_to 'Edit', edit_post_path(@post) %>
 <%= link_to 'Destroy', post_path(@post),method: :delete,data: {confirm: "are you sure?"} %>
  <br>
 <%= link_to 'Back', posts_path %>
