<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag 'school.png',height:'35',alt:'logo',class:'inline-block align-top' %>
      SuperRails
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%= deep_active_link_to root_path do %>
          <div class="fa fa-home"></div>
          Home
        <% end %>
        <% if current_user %>
          <%= deep_active_link_to  new_post_path do %>
            <div class="fa fa-plus"></div>
           New Posts
          <% end %>
          <%= deep_active_link_to posts_path do %>
            <div class="fa fa-gem"></div>
            Posts
          <% end %>
          <%= deep_active_link_to users_path do %>
            <div class="fa fa-users"></div>
            Users
          <% end %>
        <%end%>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="fa fa-user"></div>
              <b><%= current_user.email %></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
              <%= deep_active_link_to_dropdown_item user_path(current_user) do %>
                <div class="fa fa-user"></div>
                <b>My Profile</b>
              <% end %>
              <%= deep_active_link_to_dropdown_item edit_user_registration_path do %>
                <div class="fa fa-cog"></div>
                <b>Account settings</b>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <div class="fa fa-sign-out-alt"></div>
                <b>Sign out</b>
              <% end %>
            </ul>
          </li>
        <% else %>
          <%=active_link_to "Log in", new_user_session_path %>
          <%= active_link_to"Sign up", new_user_registration_path  %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
