<!DOCTYPE html>
<html>
  <head>
    <title>Superails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= link_to root_path do %>
        <i class="far fa-gem fa-spin fa-3x"></i>
        Home
      <% end %>
      <%= link_to 'Terms', privacy_path %>
      <%= link_to 'Privacy', terms_path %>
      <%= yield %></div>
  </body>
</html>
